body {
    margin: 0;
    padding:0;
}

.header,
.one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0px 128px;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    font-weight: 700;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.header li,
.one p,
.one .signup {
    font-size: 18px;
    color: #E5E7EB;
}

.one {
    padding: 128px 128px;
    flex: 1;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.one h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.signup {
    background-color: #3882F6;
}

button {
    border: none;
    border-radius: 8px;
    padding: 4px 32px;
    font-weight: 700;
}

.image-sub {
    background-color: grey;
    min-width: 450px;
    height: 200px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
